@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minimon';
  src: url('/fonts/MN MINIMON.ttf') format('truetype');
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: 'Minimon';
  src: url('/fonts/MN MINIMON Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
}

body {
  color: var(--foreground);
  background: #FFFFFF;
  font-family: 'Minimon';
}